{% load staticfiles %}
<html>

<head>
    <title>Detil Pertanyaan </title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

</head>

<body>
    <div class="container">
        <div class="row">
            <p>
                {{question.question_text}}</p>
            <form action="{% url 'poll:vote' %}" method="post">
              {% csrf_token %} <!--biar aman form nya-->
                <ul style="list-style-type:none">
                  {% for choice in question.choice_set.all %}
                    <li>
                      <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}"/>
                        {{choice.choice_text}} {% if choice.image %}
                        <br><img class="img-circle" src="{{choice.image.url}}" height='150' width='150'> {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                <input type ='submit' value="vote">
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>
